# Sass
.sass-cache
*.map

# Add the entire Grav site to GitHub
composer.lock
backup/*
!backup/.*
cache/*
!cache/.*
assets/*
!assets/.*
logs/*
!logs/.*
images/*
!images/.*
user/data/*
!user/data/.*
user/accounts/*
!user/accounts/.*

# local config and security
user/localhost/config/security.yaml
user/config/security.yaml
user/config/site.yaml
user/config/system.yaml
user/config/plugins/email.yaml

#specific .htaccess -> dists in webserver-configs
.htaccess

tests/_output/*
tests/_support/_generated/*
tests/cache/*
tests/error.log

# OS Generated
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp

### Node ###

npm-debug.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules
jspm_packages

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache
